* {
    margin: 0;
    padding: 0;
}

/* General Layout */
html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 50px;
}

#content {
    background-color: rgb(221, 221, 221);
    flex: 1;
    display: flex;
    justify-content: center;
}

/* menu page container for all pages */
.pageContainer{
    background-color: white;
    height: auto;
    width: 40%;
    margin: 50px;
}

/* Button style */
button {
    height: 30px;
    width: 60px;
}

/* Home Page */

.page{
    display: grid;
    grid-template-rows: 10% auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pageName{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/2;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    font-size: 3rem;
}

.pageDescription{
    white-space: pre-line;
    grid-row: 2/3;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-weight: bold;
    padding: 45px;
}

.pageDescription.home{
    text-align: center;
    font-size: 2rem;
    word-spacing: 10px;
    line-height: 5rem;
}

.pageDescription.menu{
    line-height: 2.2rem;
}

.pageDescription.about{
    text-align: center;
    font-size: 2rem;
    word-spacing: 10px;
    line-height: 4rem;
}
